/* from test */
head,
body {
  font-family: Carter One;
  overflow: hidden;
  background-color: #fee0ff;
  color: white;
  padding: 0;
  margin: 0;
}

#container {
  text-align: center;
}

.square {
  width: 15%;
  height: 20%;
  filter: blur(6px);
  clip: rect(10px, 20px, 30px, 40px);
}

#myvideo {
  display: none;
  position: absolute;
  left: 0;
}

#othervideo {
  z-index: -1;
  position: absolute;
  right: 0;
  filter: blur(20px);
  transform: scale(1.1);
}



#canvas {
  display: none;
}

#rules {
  text-align: center;
}

.highlight {
  color: #f6a7c4;
}

/* from index */
#instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

#instructions h2 {
  color: #673ab7;
  text-align: center;
  font-size: 48px;
  margin: 0;
}

#instructions p {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  background: #f6a7c4;
  padding: 0 20px;
}

#instructions p a {
  text-decoration: none;
  color: #673ab7;
}

#rules {
  color: #644b9f;
}

#logo {
  width: 100px;
  padding: 10px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    text-align: center;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    text-align: center;
  }


  #instructions {
    align-content: center;
    min-width: 480px;
  }

  #instructions h2 {
    font-size: 80px;
  }

  #instructions p {
    font-size: 40px;
  }

  #logo {
    width: 300px;
  }

  #othervideo {
    position: absolute;
    width: 100%;
    bottom: -50px;
    transform: scale(1.2);
  }

  #myvideo {
    width: 100%;
    position: absolute;
    top: 0;
    transform: scale(1.2);
  }

  #rules {
    font-size: 80px;
  }

  .crop {
    overflow: hidden;
    position: relative;
    height: 40%;
  }
}
